<div class="uk-margin uk-width-expand uk-margin-auto">
  <div class="uk-margin">

    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
      <div class= "uk-text-left">
        <h1 class="uk-heading-small">Stadiums</h1>
      </div>
      <div class="uk-width-expand uk-text-right">
        <a href="add-stadium">
          <button class="uk-button uk-button-secondary">Add Stadium</button>
        </a>
      </div>
    </div>

  </div>

  <div class="uk-child-width-expand uk-grid-divider uk-margin" uk-grid>
    {{#each stadiums}}
      <div>
        <div class="uk-text-lead">{{name}}</div>

        <div class="uk-width-1 uk-height-small uk-box-shadow-medium uk-margin"></div>

        <div class="uk-width-1">
          <div class="uk-text-left uk-text-emphasis">{{location}}</div>
          <div class="uk-text-left">Capacity: {{capacity}}</div>
          <div class="uk-text-left">Built: {{built}}</div>
          <div class="uk-text-left">Club: {{teams}}</div>
        </div>
        <div class="uk-margin uk-flex uk-flex-center uk-flex-middle uk-grid-small">
          <div class="uk-text-left uk-width-2-3 uk-text-meta">Added by: {{addedBy}}</div>
          <div class="uk-width-expand uk-text-right">
            <a href="/edit-stadium/{{_id}}"><i class="fas fa-edit uk-text-large" title="Edit" uk-tooltip></i></a>
            <a href="/delete-stadium/{{_id}}"><i class="fas fa-times-circle uk-text-large uk-text-danger" title="Delete" uk-tooltip></i></a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{!-- <table class="uk-table">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Built</th>
      <th>Team(s)</th>
      <th>Added By</th>
      <th></th>
    </thead>
    <tbody class="uk-text-left">
      {{#each stadiums}}
      <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{capacity}}</td>
        <td>{{built}}</td>
        <td>{{teams}}</td>
        <td>{{addedBy}}</td>
        <td>
          <a href="/delete-stadium/{{_id}}"><i class="fas fa-times-circle fa-2x" title="Delete" uk-tooltip></i></a>
          <a href="/edit-stadium/{{_id}}"><i class="fas fa-edit fa-2x" title="Edit" uk-tooltip></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table> --}}
</div>