<div class="uk-margin uk-width-expand uk-margin-auto">
  <div class="uk-margin">

    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
      <div class= "uk-text-left">
        <h1 class="uk-heading-small">Stadiums</h1>
      </div>
      <div class="uk-width-expand uk-text-right">
        <a href="add-stadium">
          <button class="uk-button uk-button-secondary">Add Stadium</button>
        </a>
      </div>
    </div>

  </div>
  <table class="uk-table">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Built</th>
      <th>Team(s)</th>
      <th></th>
    </thead>
    <tbody class="uk-text-left">
      {{#each stadiums}}
      <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{capacity}}</td>
        <td>{{built}}</td>
        <td>{{teams}}</td>
        <td><a href="/delete-stadium/{{_id}}"><i class="fas fa-times-circle" style="color:red" title="Delete" uk-tooltip></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>